#
# Local run
#

NLAB_ARM_PROCESSOR_PORT=5010

#
# Postgres settings
#

NLAB_ARM_PROCESSOR_POSTGRES_DB=arm_processor
NLAB_ARM_PROCESSOR_POSTGRES_USER=arm
NLAB_ARM_PROCESSOR_POSTGRES_PASSWORD=arm
NLAB_ARM_PROCESSOR_POSTGRES_HOST=localhost

#
# External hosts
#

NLAB_ARM_GATEWAY_URL=

#
# Cluster information
#

NLAB_ARM_PROCESSOR_AUTH='{}'
NLAB_ARM_PROCESSOR_COMPILER_HOSTS='{}'
NLAB_ARM_PROCESSOR_DEPLOY_HOSTS='{}'

#
# Logging
#
NLAB_ELK_LEVEL=DEBUG
NLAB_LOG_TO_STDERR=TRUE
